<!DOCTYPE HTML>
<html lang="kr">
  <head>
    <meta charset="utf-8">
 
    <title>실험 웹페이지</title>
  </head>
 
  <body>
    <header>
      <nav>
        <a href="/tos_and_pp_test">Start experiment!(실험군)</a>
        <a href="/tos_and_pp_control">Start experiment!(대조군)</a> 
        <a href="/tos_and_pp_random">Start experiment!(랜덤 하이라이팅)</a><br><br>
        <a href="/tos_and_pp_check_test">실험군 모델 평가</a>
        <a href="/tos_and_pp_check_random">랜덤 하이라이팅 모델 평가</a><br><br>
        <a href="/tos_and_pp_threshold3">Threshold3</a>
        <a href="/tos_and_pp_threshold4">Threshold4</a>
      </nav>
      <hr>
    </header>
 
  </body>
</html>